.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e93f42;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e93f42;
  box-shadow: none;
}

.login_form{
  &__main{
    display: inline-block;
    padding: 32px 48px 0 48px;
    border: 1px solid #EEE;
  }
}

.responsive-img{
  background: url("../img/SQLad.png") no-repeat;
  width: 250px;
  height: 80px;
  background-size: 100%;
}