<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}| WMS{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="{{ asset('assets/css/common.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('assets/css/'~app.request.attributes.get('_route')~'.css') }}" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block body %}ЭТО ГЛАВНЫЙ ШАБЛОН!{% endblock %}
        {% block scripts%}
            <script src="{{ asset('assets/js/common.js') }}"></script>
            <script src="{{ asset('assets/js/'~app.request.attributes.get('_route')~'.js') }}"></script>
        {% endblock %}
    </body>
</html>