{% extends '@AntonWms/base.html.twig' %}
{% block title %}Главная страница{% endblock %}
{% block header %}
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">SQLad</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li class="tab"><a class="active" href="#users">Пользователи</a></li>
                <li class="tab"><a href="#products">Учет товаров </a></li>
                <li class="tab"><a href="#test3">Доставка</a></li>
                <li class="tab"><a href="#test4">Оформление заказа</a></li>
                <li class="tab"><a href="#test4">Отчеты</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <div class="col s12 hide-on-med-and-down teal lighten-2">
        <ul class="tabs">
            <li class="tab col s3"><a class="active"  href="#users">Пользователи</a></li>
            <li class="tab col s3"><a href="#products">Учет товаров</a></li>
            <li class="tab col s3"><a href="#test3">Доставка</a></li>
            <li class="tab col s3"><a href="#test4">Оформление заказа</a></li>
            <li class="tab"><a href="#test4">Отчеты</a></li>
        </ul>
    </div>
    {{ render(controller('AntonWmsBundle:Default:users')) }}
    {{ render(controller('AntonWmsBundle:Default:products')) }}
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer popup">

    </div>
    <div class="popup-shadow"></div>
{% endblock %}
{% block footer %}{% endblock %}