<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ШАБЛОН{% endblock %} | WMS</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('/build/css/common.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('/build/css/'~app.request.attributes.get('_route')~'.css') }}" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block header %}
        <header>
            хедер
        </header>
    {% endblock %}
    <main>
        {% block main %}
            Основная часть
        {% endblock %}
    </main>
    {% block footer %}
            footer
    {% endblock %}
{% block scripts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ asset('/build/js/common.js') }}"></script>
    <script src="{{ asset('/build/js/'~app.request.attributes.get('_route')~'.js') }}"></script>
{% endblock %}
</body>
</html>