<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ШАБЛОН{% endblock %} | WMS</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('css/common.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/'~app.request.attributes.get('_route')~'.css') }}" type="text/css">
    {% endblock %}
</head>
<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    body {
        background: #fff;
    }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
        color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
        border-bottom: 2px solid #e91e63;
        box-shadow: none;
    }
</style>

<body>
    {% block header %}
        <header>
            Хедер
        </header>
    {% endblock %}
    <main>
        {% block main %}
            Основная часть
        {% endblock %}
    </main>
    {% block footer %}
        <footer>
            Футер
        </footer>
    {% endblock %}
{% block scripts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ asset('js/common.js') }}"></script>
    <script src="{{ asset('js/'~app.request.attributes.get('_route')~'.js') }}"></script>
{% endblock %}
</body>
</html>