.login__form{
    width: 300px;
}
.product-receipt__send.uk-grid{
    display: none;
    margin-top: 0;
}
.product-receipt__send button{
    margin-top: 10px;
}
#product__shipment{
    margin-top: 10px;
}
.logo img{
    max-width: 150px;
}

img.uk-margin-bottom{
    width: 200px;
}

.table-name{
    width: 40%;
    vertical-align: middle !important;
}

.box{
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
}

.uk-button{
    margin: 10px 0;
    width: 100%;
}

